# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
.cursor/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/
.env
.env.*

# ===============================
# Conda
# ===============================
conda_fdl.lock.txt
pip_fdl.lock.txt

# ===============================
# Kedro / Data
# ===============================
data/
logs/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.ipynb~
*.ipynb
# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.whl

# ===============================
# Parquet / Data Artifacts
# ===============================
*.parquet
*.csv
*.json

# ===============================
# AWS / Credentials
# ===============================
.aws/
credentials.yml
credentials.yaml

# ===============================
# Cache / Temporary
# ===============================
.cache/
.tmp/
.tmp_*

# ===============================
# Misc
# ===============================
*.log.DS_Store


.streamlit/secrets.toml
